@import "./bootstrap/custom";
@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./components";

body, html {
  min-height: 100vh;
  position: relative;
}

body {
  padding-bottom: $footer-height;
}

@include media-breakpoint-down(md) {
  body {
    padding: 0;
  }
}