.menu {
  &__item {
    a {
      position: relative;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 500;
      letter-spacing: .1em;
      padding: 7px 15px !important;
      margin: 0 10px;
      border-radius: 30px;
      transition-duration: 400ms;
      z-index: 2;
      color: rgba($white, .6) !important;

      &:hover {
        color: $white !important;
      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        z-index: -1;
        transition-duration: 400ms;
      }
    
      &.active {
        color: $primary !important;

        &:before {
          animation: slide linear 400ms;
          background-color: $white;
        }
      }
    }

    &--highlight {
      a {
        color: $white !important;

        &:before {
          background-color: rgba($primary, .4);
          transform: none;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-4px) perspective(200px) rotateY(10deg) skewX(3deg);
  }

  30% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(4px) perspective(200px) rotateY(-10deg) scale(1) skewX(-3deg);
  }

  to {
    transform: 0;
  }
}
