.menu {
  &__item {
    a {
      position: relative;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 500;
      letter-spacing: .1em;
      padding: 7px 15px !important;
      margin: 0 5px;
      border-radius: 30px;
      transition-duration: 400ms;
      z-index: 2;
      color: rgba($white, .6) !important;

      &:hover {
        color: $white !important;
      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        z-index: -1;
        transform: translateX(-2px);
        transition-duration: 400ms;
      }
    
      &.active {
        animation-name: slide;
        animation-duration: 400ms;
        animation-timing-function: linear;
        color: $primary !important;

        &:before {
          background-color: $white;
          transform: translateY(0);
        }
      }
    }

    &--highlight {
      a {
        color: $white !important;

        &:before {
          background-color: rgba($primary, .4);
          transform: none;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-2px) perspective(200px) rotateY(15deg);
  }

  40% {
    transform: translateX(2px) perspective(200px) rotateY(-15deg);
  }

  to {
    transform: 0;
  }
}
