.not-found {
    height: 100vh;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        color: $white;
        text-align: center;
    }
}